body
{
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code
{
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root
{
	min-height:     100vh;
	display:        flex;
	flex-direction: column;
}

.lined
{
	text-align:    center;
	border-bottom: 1px solid #CCCCCC;
	line-height:   0.1em;
	margin:        1em 0 0 0;
}
.lined *
{
	background: #FFFFFF;
	padding:    0 .5em;
	font-size:  .8em;
}

#LoginWithEthereum-Button.disconnected
{
	display:          flex;
	position:         sticky;
	top:              0;
	height:           100vh;
	padding:          10px;
	align-items:      center;
	justify-content:  center;
	background-color: #ffffff;
}

#LoginWithEthereum-Button.connected
{
	position:         fixed;
	bottom:           0;
	right:            0;
	box-shadow:       0 .125rem .25rem rgba(0,0,0,.075) !important;
	z-index:          10000;
}
